DATABASE_URL="postgresql://user:password@ep-example-pooler.region.aws.neon.tech/projektpilot?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-example.region.aws.neon.tech/projektpilot?sslmode=require"
JWT_SECRET="replace-with-at-least-32-random-bytes"
NODE_ENV="development"
